<h1 style="font-size:600%;">REGOLE ASSOCIATIVE

<h1 style="font-size:300%;"> Dalla tabella dba__stragi ricavo l'id_reparto di ogni reparto che ha partecipato ad ogni evento

In [2]:
import MySQLdb
import datetime
import pandas as pd

# Open database connection
db = MySQLdb.connect("localhost","root","paperino","database_stragi" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

sql = '''
SELECT ST.repartoresponsabile1,ST.repartoresponsabile2,ST.repartoresponsabile3,ST.repartoresponsabile4,ST.repartoresponsabile5,ST.repartoresponsabile6,ST.repartoresponsabile7
FROM dba__stragi AS ST
'''


cursor.execute(sql)  
results = cursor.fetchall()

lista=list(results) 
df_reparti = pd.DataFrame(lista,columns=('repartoresponsabile1','repartoresponsabile2','repartoresponsabile3','repartoresponsabile4','repartoresponsabile5','repartoresponsabile6','repartoresponsabile7'))

In [3]:
df_reparti.head()

,repartoresponsabile1,repartoresponsabile2,repartoresponsabile3,repartoresponsabile4,repartoresponsabile5,repartoresponsabile6,repartoresponsabile7
0,220,221,18,,,,
1,79,20,None,None,None,None,None
2,,,,,,,
3,517,None,None,None,None,None,None
4,1008,,,,,,

<h1 style="font-size:300%;"> dalla tabella dba__reparti creo un dataframe formato dall'id di ogni reparto e dal reparto

In [4]:
import MySQLdb
import datetime
import pandas as pd

# Open database connection
db = MySQLdb.connect("localhost","root","paperino","database_stragi" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

sql = '''
SELECT REP.id_reparto, REP.reparto
FROM dba__reparti AS REP
'''
#il SELECT con meno di 2 colonne da' errore

cursor.execute(sql)  
results = cursor.fetchall()

lista=list(results) 

df1 = pd.DataFrame(lista,columns=('id_reparto','nazisti/fascisti'))

In [5]:
df1.head()

   id_reparto                                   nazisti/fascisti
0        1291                        Squadra d\'azione di Verona
1           4  Centro integrazione e selezione ufficiali dell...
2          33  24. Waffen Gebirgs Karstjäger Division der SS ...
3           6                                              X MAS
4           7   Ortskommandantur Oderzo - SSPF Oberitalien-Mitte

<h1 style="font-size:300%;">Creo la series "id_reparti_series" formata dall'ID che identifica ogni reparto

In [6]:
id_reparti_series=df1['id_reparto']
id_reparti_series.head()

0    1291
1       4
2      33
3       6
4       7
Name: id_reparto, dtype: int64

<h1 style="font-size:300%;"> Creo il dataframe su cui applicherò l'algoritmo Apriori

## Creo un dataframe le cui  colonne sono rappresentate dalla series "id_reparti_series" e con un numero di righe pari a quella del dataframe df_reparti

In [7]:
import pandas as pd
import numpy as np
df_per_regole_associative = pd.DataFrame(0, index=np.arange(df_reparti.shape[0]), columns=id_reparti_series)
df_per_regole_associative.tail()

id_reparto,1291,4,33,6,7,8,9,10,11,12,...,1338,1339,1340,1341,1342,1343,1344,1345,1346,1348
5759,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5761,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5762,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5763,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Il dataframe sopra, ha un numero di righe pari al numero delle stragi ed un numero di colonne pari ai vari reparti coinvolti nelle stragi.
E' però un dataframe formato da soli 0.

Per aggiungere dei valori diversi da 0, facciamo una scansione del dataframe reparti coinvolti nelle stragi e, ogni volta che incontriamo l'ID di un reparto aggiungiamo un 1 alla colonna del dataframe df_per_regole_associative nella riga relativa alla strage considerata

In [8]:
import re
# lavoro su ogni riga del dataframe reparti
for indice_riga,riga in df_reparti.iterrows():
    # lavoro su ogni valore di ogni riga del 
    # dataframe reparti
    for id_reparto in riga:
        #df_per_regole_associative.loc[0][1291]=1
        # uso le regex per verificare quando la riga 
        # è un numero
        #print('prima del regex: ',id_reparto)
        if id_reparto is None:
            break
        stringa_match=re.match(r'[0-9]+',id_reparto)
        if stringa_match:
            #print(indice_riga,id_reparto)
            #df_per_regole_associative.loc[0][1291]=1
            #df_per_regole_associative[id_reparto].iloc[indice_riga]=1
            #df_per_regole_associative=df_per_regole_associative.loc[indice_riga][id_reparto]=1
            df_per_regole_associative.loc[int(indice_riga)][int(id_reparto)]=1
            # df.at['C', 'x'] = 10
            #df_per_regole_associative.at['indice_riga','id_reparto']=1
            #df.xs('C')['x']=10
            #df_per_regole_associative.xs('indice_riga')['id_reparto']=1
df_per_regole_associative.head(15)

id_reparto,1291,4,33,6,7,8,9,10,11,12,...,1338,1339,1340,1341,1342,1343,1344,1345,1346,1348
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

<h1 style="font-size:300%;"> Algoritmo APRIORI: devo assegnare il supporto minimo

In [9]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [15]:
frequent_itemsets = apriori(df_per_regole_associative, min_support=0.0003,use_colnames=True)
frequent_itemsets.head()

    support itemsets
0  0.004164     (33)
1  0.005899      (6)
2  0.000347      (7)
3  0.001214      (8)
4  0.001561     (11)

In [18]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(204),(6),0.001735,0.005899,0.000867,0.500000,84.764706,0.000857,1.988203
1,(822),(6),0.002602,0.005899,0.001041,0.400000,67.811765,0.001026,1.656836
2,(823),(6),0.002082,0.005899,0.000867,0.416667,70.637255,0.000855,1.704174
3,(223),(15),0.000694,0.002255,0.000520,0.750000,332.538462,0.000519,3.990978
4,(579),(15),0.001214,0.002255,0.000694,0.571429,253.362637,0.000691,2.328071

<h1 style="font-size:300%;">Nome dei reparti coinvolti

In [36]:
import MySQLdb
import datetime
import pandas as pd

# Open database connection
db = MySQLdb.connect("localhost","root","paperino","database_stragi" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

sql = '''
SELECT REP1.* 
FROM dba__reparti AS REP1
WHERE REP1.id_reparto IN (204,822,823,6,223,15,579)
'''


#sql = 'SELECT REP1.*' + 'FROM dba__reparti AS REP1' + 'WHERE REP1.id_reparto IN ' + '(204,223,579,328)'


cursor.execute(sql)  
results = cursor.fetchall()

lista=list(results) 
df_reparti_associati = pd.DataFrame(lista,columns=[i[0] for i in cursor.description])
df_reparti_associati

,id_reparto,nazi_fasci,nazionalita,reparto_nazista,sottoreparto_nazi,reparto_fascista,reparto,appartenenza
0,6,Fascista,Italiana,None,None,Reparto speciale,X MAS,NaN
1,15,Fascista,Italiana,,,Brigata Nera,31. Brigata nera Generale Silvio Parodi di G...,NaN
2,204,Nazista,None,Waffen-SS,,,SS-Polizei Einsatzkommando Bürger,NaN
3,223,Nazista,None,Wehrmacht,Luftwaffe,,schwere Flak-Abteilung 603/Flak-Regiment 39,NaN
4,579,Nazista,Tedesca,Wehrmacht,Heer Wehrmacht,,Regiment 1043/232. Infanterie-Division,1215.0
5,822,Fascista,Italiana,None,None,Guardia Nazionale Repubblicana,GNR di Vicenza,NaN
6,823,Nazista,None,Wehrmacht,Luftwaffe,None,Luftnachrichten-Betriebsabteilungen zur besond...,NaN

In [50]:
print('(204)=>(6) ',df_reparti_associati.reparto[df_reparti_associati['id_reparto']==204].item(),'=>',df_reparti_associati['reparto'][df_reparti_associati['id_reparto']==6].item())
print('(822)=>(6) ',df_reparti_associati.reparto[df_reparti_associati['id_reparto']==822].item(),'=>',df_reparti_associati['reparto'][df_reparti_associati['id_reparto']==6].item())
print('(823)=>(6) ',df_reparti_associati.reparto[df_reparti_associati['id_reparto']==823].item(),'=>',df_reparti_associati['reparto'][df_reparti_associati['id_reparto']==6].item())
print('(223)=>(15) ',df_reparti_associati.reparto[df_reparti_associati['id_reparto']==223].item(),'=>',df_reparti_associati['reparto'][df_reparti_associati['id_reparto']==15].item())
print('(579)=>(15) ',df_reparti_associati.reparto[df_reparti_associati['id_reparto']==579].item(),'=>',df_reparti_associati['reparto'][df_reparti_associati['id_reparto']==15].item())

(204)=>(6)  SS-Polizei Einsatzkommando Bürger => X MAS
(822)=>(6)  GNR di Vicenza => X MAS
(823)=>(6)  Luftnachrichten-Betriebsabteilungen zur besonderen Verwendung 11 => X MAS
(223)=>(15)  schwere Flak-Abteilung 603/Flak-Regiment 39 => 31. Brigata nera Generale Silvio Parodi di Genova
(579)=>(15)  Regiment 1043/232. Infanterie-Division => 31. Brigata nera Generale Silvio Parodi di Genova